doctype html 
html(lang="en")
    head 
        title Week-4 Assignment-2 Ajax retrive JSON data
        link(rel='stylesheet', href='/stylesheet/style.css')
    body
        include includes/header
        block content
        include includes/footer