extends layout.pug

block content 
    if username
        p username: #{username}
    else
        form(action='/trackName', method='get')
            p Please enter your name:
                input(type="text", name="name") 
                button(type='submit') submit
