doctype html 
html(lang="en")
    head 
        title Week-4 Assignment-3 Sign-in/out Page
        link(rel='stylesheet', href='/stylesheet/style.css')
    body
        include includes/header
        block content
        include includes/footer