<!-- <html>
    <head>
        <title>Member page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1><%= message %></h1>
    </body>
</html> -->

<html>
    <head>
        <title>Member page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="member-content">
            <div class="form-box">
                <div class="member-icons">
                    <img src="../img/muscle.png">
                </div>
                <span id="welcome-member"><%= message %></span>
            </div>
        </div>
    </body>


</html>